/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";


/* CSS RESET */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Custom styles */

// div {
//   background-color: #ffffff;
//   opacity: 0.6;
// }

body {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 400;
  background: #F4F7F7;
}

html {
  background: #F4F7F7;
  height: 100%;
}

#root {
  background: #F4F7F7;
  height: 100%;
}


// header {
//   padding: 20px;
//   border-top: 4px solid #79A8A9;
// }

body.welcome {
  background: url(https://upload.wikimedia.org/wikipedia/commons/thumb/a/ad/Knowledge_transfer.svg/1280px-Knowledge_transfer.svg.png);
  background-repeat: no-repeat;
  height: 100%;
	margin-top: 1%;
  background-size: contain;
  background-position-x: 57%;
}

a {
	-webkit-transition: 350ms ease-out;
	transition: 350ms ease-out;
}

a:hover {
	-webkit-transition: 350ms ease-out;
	-o-transition: 350ms ease-out;
	transition: 350ms ease-out;
	color: #79A8A9;
	text-decoration: none;
	cursor: pointer;
}

.container {
  max-width: 55%;
	padding-top: 8%;
}

.splash-container {
	width: 209px;
	border: black 3px solid;
	padding: 15px 0 13px 19px;
	background-color: #9BBBA5;
	border-radius: 15px;
}

.background-container {
  z-index: -1;
  margin-left: 95px;
  margin-top: 50px;
  position: fixed;
}


#user-login-form {
  z-index: 4;
	// margin-left: 46%;
	// margin-top: -6%;
	position: absolute;
	top: 15%;
	left: 44%;
	transform: translateX(-4%) translateY(-3%);
	display: inline-table;
}

#user-login-input {
	width: 173px;
	height: 38px;
	font-size: 26px;
	margin-bottom: 6px;
}

#login-prompt {
	font-size: 28px;
	font-weight: 600;
}

#welcome-statement-right {
  font-size: 30px;
	font-weight: 600;
	font-family: "Raleway", sans-serif;
	margin-left: 75%;
}

#welcome-statement-left {
  font-size: 30px;
	font-weight: 600;
	font-family: "Raleway", sans-serif;
	margin-left: 20px;
	margin-top: 15px;
}

#user-signout {
	position: fixed;
	left: 89.5%;
	top: 3%;
	z-index: 1;
}

#user-signup {
	margin: 0 0 15px 0
}

.search-bar {
  position: relative;
  margin: 100px 75px;
}

.search-bar input {
  font-weight: 500;
  font-size: 32px;
  width: 100%;
  height: 75px;
  margin-left: 10px;
  border: 0;
  outline: 0;
  background: transparent;
  color: black;
}

.search-listsearch-listreveal {
	background: whitesmoke;
	border-bottom: 3px solid black;
	width: 812px;
	position: fixed;
	left: 27%;
	padding-left: 2%
}

.search-parameter {
	padding-left: 11%
}

.full-nav {
	position: fixed;
	width: 75%;
	height: 200px;
	top: -10%;
	background: whitesmoke;
	// max-width: 700px;
	margin-left: 14%;
}

#nav-line {
	margin: -92px 0 0 0;
	border-top: 3px solid black;
}

.logo-pic {
  position: absolute;
  background: transparent;
	top: 70%;
	left: 8%;
  float: right;
  height: 60px;
}

#tagline {
	color: whitesmoke;
}

.question-show {
	padding-top: 3%;
  max-width: 700px;
  margin: auto;
}

.questions-container {
	 width: 750px;
}

.question-container {
  margin: 75px 0px;

}

.question-title {
  font-weight: 500px;
  font-size: 28px;
  color: #4A4A4A;
  text-decoration: none;
  margin-top: 10px;
}


::-webkit-input-placeholder {
	color: rgba(143, 143, 143, 0.9);
	font-size: 32px;
}

.question-title:hover {
	-webkit-transition: 500ms ease-out;
	-webkit-animation: fadein 2s;
}

.question-tags {
	margin-bottom: 2%;
}

.question-tag {
	margin-left: 1%;
	padding: 2px;
	color: white;
	background-color: black;
	border: solid 2px black;
	border-radius: 6px;
}

.asker-container {
	margin: 12px 0 0 0;
  font-size: 17px;
  font-weight: 200;
  color: gray;
}

.asker {
  font-weight: 500;
  font-size: 19px;
  padding-left: 5px;
  color: #292929
}

.question-details {
  font-size: 17px;
  font-style: oblique;
  color: #7F7F7F;
	line-height: 22px;
}

.answer-form {
  margin-top: 70px;
}

.answer-input {
	width: 400px;
	height: 200px;
	font-size: 20px;
}

.answer-input::-webkit-input-placeholder {
 font-size: 20px;
}
.answer-input:-moz-placeholder { /* older Firefox*/
 font-size: 20px;
}

.answer-input::-moz-placeholder { /* Firefox 19+ */
 font-size: 20px;
}


.answerer-container{
  font-size: 17px;
  font-weight: 200;
  color: gray;
}

.answerer {
  font-size: 19px;
  font-weight: 500;
  padding-left: 5px;
	color: black;
}

.answer-body {
	margin: 12px 0 0 0;
	line-height: 22px;
}

.comments-container {
  background-color: #E6E6E6;
  margin-left: 100px;
	border-radius: 10px;

}
.comment-container {
	padding: 20px;
}

.comment-index {
  margin-top: 15px;
}

.comment-body {
	margin: 12px 0 6px 0;
}

#com-hide {
  margin-top: 25px;
}

#com-delete {
	margin-top: 11px;
}

#ans-submit {
  margin-top: 15px;
  margin-left: 155px;
}

hr {
  border-color: black;
  margin: 30px 0px;
}

.errors {
	position: absolute;
	top: 16%;
	left: 6%;
	font-weight: 700;
	font-size: 18px;
}

.logo {
	position: fixed;
	padding: 5px;
	z-index: 5;
	left: 3%;
	top: 22%;
  font-size: 83px;
  letter-spacing: 7px;
	background-color: transparent;
	border-radius: 5%;
}

.logo:hover {
  text-decoration: none;
}

.btn-primary {
  background-color: black;
  border-color: black;
}

#Q-index-back-btn {
  margin-bottom: 50px;
}

#btn-delete{
  margin-bottom: 30px;
}

#question-btn {

}

#question-form {
  // width: 25%;
	// float: right;
	position: absolute;
	left: 95%;
	top: 120%;
  margin: 4% -14% 0 0;
}

#question-edit-form {
	margin-right: 12px;
}

.mod-buttons {
	margin-top: 14px;
}

.question-form-modal {
	padding-top: 15px;
}


#question-title-prompt {
	font-weight: 500;
}

#question-body-prompt {
	font-weight: 500;
}

#question-tags-prompt {
	font-weight: 500;
	padding: 10px 0;
}


#question-input-title {
	width: 85%;
	font-size: 30px;
	margin: 20px;
	font-weight: 300;
}

#question-input-body {
	width: 85%;
	height: 165px;
	font-weight: 300;
}

#tags-form-item {
	width: 130px;
	border: 1px solid #ccc;
	border-radius: 6px;
	font-weight: 600;
	cursor: pointer;
}

#tags-form {
	margin: 0 5px;
}

.tags-form-container {
	float: left;
	margin: 13px 3px 0px 4px;
}

.profile-tags-container {
	position: fixed;
	// margin: -250px 0 0 60px;
	top: 42%;
	left: 5%;
	font-weight: 500;
	z-index: 2;
	border: solid 2px black;
	border-radius: 4%;
	background-color: whitesmoke;
	padding: 12px;
}

.user-username {
	font-size: 20px;
	font-weight: 500;
	margin: 5% 0 4% 0;
}

.user-questions {
	margin-bottom: 3%;
}

#questions-asked {
	font-size: 20px;
	font-weight: 400;
	text-decoration: underline;
}

.user-question {
	margin: 8px 0 0 0;
}

.user-question:hover {
	-webkit-transition: 350ms ease-out;
	-o-transition: 350ms ease-out;
	transition: 350ms ease-out;
	color: #79A8A9;
	text-decoration: none;
	cursor: pointer;
}

#answers-given {
	font-size: 20px;
	font-weight: 400;
	text-decoration: underline;
}

.user-answer {
	margin: 8px 0 0 0;
}

.user-answer:hover {
	-webkit-transition: 350ms ease-out;
	-o-transition: 350ms ease-out;
	transition: 350ms ease-out;
	color: #79A8A9;
	text-decoration: none;
	cursor: pointer;
}

.modal-screen {
  z-index: 998;
  position: fixed;
	width: 100%;
  top: 0%;
  bottom: 0%;
  left: 0%;
  right: 0%;
  background: rgba(0, 0, 0, .3);
}

.modal-content {
  z-index: 999;
  position: fixed;
  background: white;
  border-radius: 12px;
  border: 1px solid black;
  font-size: 20px;
  font-weight: 100;
  width: 700px;
	padding: 0 0 0 6px;
  height: 500px;
  top: 42%;
  left: 50%;
  text-align: center;
  transform: translateX(-50%) translateY(-50%);
}

// .hvr-bubble-float-bottom {
//   display: inline-block;
//   vertical-align: middle;
//   -webkit-transform: translateZ(0);
//   transform: translateZ(0);
//   box-shadow: 0 0 1px rgba(0, 0, 0, 0);
//   -webkit-backface-visibility: hidden;
//   backface-visibility: hidden;
//   -moz-osx-font-smoothing: grayscale;
//   position: relative;
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
//   -webkit-transition-property: transform;
//   transition-property: transform;
// }
// .hvr-bubble-float-bottom:before {
//   position: absolute;
//   z-index: -1;
//   content: '';
//   left: calc(50% - 10px);
//   bottom: 0;
//   border-style: solid;
//   border-width: 10px 10px 0 10px;
//   border-color: #e1e1e1 transparent transparent transparent;
//   -webkit-transition-duration: 0.3s;
//   transition-duration: 0.3s;
//   -webkit-transition-property: transform;
//   transition-property: transform;
// }
// .hvr-bubble-float-bottom:hover, .hvr-bubble-float-bottom:focus, .hvr-bubble-float-bottom:active {
//   -webkit-transform: translateY(-10px);
//   transform: translateY(-10px);
// }
// .hvr-bubble-float-bottom:hover:before, .hvr-bubble-float-bottom:focus:before, .hvr-bubble-float-bottom:active:before {
//   -webkit-transform: translateY(10px);
//   transform: translateY(10px);
// }
